<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="css/homepage.css" rel="stylesheet">
    <link href="css/navbar.css" rel="stylesheet">


</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<nav class="navbar navbar-inverse" th:fragment="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">MeetDown</a>
        </div>
        <ul class="nav navbar-nav navbar-left">
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a href="/register" th:href="@{/register}">
                    <span class="glyphicon glyphicon-user" aria-hidden="true">
                    </span> Sign Up</a>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a href="/login" th:href="@{/login}">
                    <span class="glyphicon glyphicon-log-in" aria-hidden="true">
                    </span> Login</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a>
                    <span class="glyphicon glyphicon-user" aria-hidden="true">
                    </span> Welcome, <span  sec:authentication="name">Username</span></a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a href="/event" th:href="@{/event}">
                    <span class="glyphicon glyphicon-globe" aria-hidden="true">
                    </span> Create Event</a>
                <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/event}"></form>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a href="/logout" th:href="@{/logout}">
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true">
                    </span> Logout</a>
                <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
            </li>
        </ul>
        <div class="search-container">
        <!--    <input type="text" placeholder="Search.." name="search">-->
            <button type="submit" href="/home">Search</button>
        </div>
    </div>
    </nav>
</body>
</html>