{
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;

}

.row::after {
    content: "";
    clear: both;
    display: table;

}
.w3-card-4 {
    margin: auto;
    float: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}