<!DOCTYPE html>
<html lang="en">
<head>
    <title>MeetDown</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="css/homepage.css" rel="stylesheet">
    <link href="css/navbar.css" rel="stylesheet">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">MeetDown</a>
        </div>
        <ul class="nav navbar-nav navbar-left">
            <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li><a href="/event"><span class="glyphicon glyphicon-create-event"></span> Create Event</a></li>
        </ul>
        <div class="search-container">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit">Submit</button>
        </div>
    </div>
</nav>
<div class="w3-container">

    <div class="row">
        <div class="column">
            <div class="w3-card-4" style="width:50%;text-align:center">
                <img src="https://www.w3schools.com/W3CSS/img_snowtops.jpg" alt="Alps" style="width:100%;">
                <div class="w3-container w3-center">
                    <p>The Italian / Austrian Alps</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="w3-card-4" style="width:50%;text-align:center">
                <img src="https://www.w3schools.com/W3CSS/img_snowtops.jpg" alt="Alps" style="width:100%;">                <div class="w3-container w3-center">
                    <p>The Italian / Austrian Alps</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="w3-card-4" style="width:50%;text-align:center">
                <img src="https://www.w3schools.com/W3CSS/img_snowtops.jpg" alt="Alps" style="width:100%;">                <div class="w3-container w3-center">
                    <p>The Italian / Austrian Alps</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="w3-card-4" style="width:50%;text-align:center">
                <img src="https://www.w3schools.com/W3CSS/img_snowtops.jpg" alt="Alps" style="width:100%;">
                <div class="w3-container w3-center">
                    <p>The Italian / Austrian Alps</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="w3-card-4" style="width:50%;text-align:center">
                <img src="https://www.w3schools.com/W3CSS/img_snowtops.jpg" alt="Alps" style="width:100%;">                <div class="w3-container w3-center">
                    <p>The Italian / Austrian Alps</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="w3-card-4" style="width:50%;text-align:center">
                <img src="https://www.w3schools.com/W3CSS/img_snowtops.jpg" alt="Alps" style="width:100%;">
                <div class="w3-container w3-center">
                    <p>The Italian / Austrian Alps</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="w3-card-4" style="width:50%;text-align:center">
                <img src="https://www.w3schools.com/W3CSS/img_snowtops.jpg" alt="Alps" style="width:100%;">                <div class="w3-container w3-center">
                    <p>The Italian / Austrian Alps</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="w3-card-4" style="width:50%;text-align:center">
                <img src="https://www.w3schools.com/W3CSS/img_snowtops.jpg" alt="Alps" style="width:100%;">
                <div class="w3-container w3-center">
                    <p>The Italian / Austrian Alps</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="w3-card-4" style="width:50%;text-align:center">
                <img src="https://www.w3schools.com/W3CSS/img_snowtops.jpg" alt="Alps" style="width:100%;">                <div class="w3-container w3-center">
                    <p>The Italian / Austrian Alps</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
